body {
    margin: 0;
    padding: 0;
    color: #001826;
    font-family: 'aktiv-grotesk-std',Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 17px;
    line-height: 1.5;
}

html {
    font-size: 62.5%;
}

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
}

a:hover {
    text-decoration: underline;
}

a:focus {
    outline-color: rgba(14,190,255,0.4);
    outline-offset: 1px;
    outline-style: auto;
    outline-width: 4px;
}

a {
    color: #125192;
    text-decoration: none;
}

p {
    margin: 1em 0;
    font-weight: 300;
    font-size: 1.125em;
    line-height: 1.45;
}

strong, b {
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Effra', sans-serif;
    font-weight: bold;
}

blockquote, q {
    quotes: none;
}

blockquote {
    margin: 1em 0;
    padding: 0 0 0 4em;
    color: #135292;
    font-style: italic;
    font-size: .9em;
    font-weight: 300;
    line-height: 160%;
    position: relative;
}

blockquote::before {
    content: "“";
    font-size: 6em;
    position: absolute;
    left: -5px;
    top: 25px;
    font-weight: 500;
    font-family: 'Alegreya Sans';
}

ol li,
ul li {
    font-size: 1.125em;
    font-weight: 300;
    list-style-position: outside;
}

.centered {
    text-align: center;
}

.left-align {
    text-align: left;
}

.right-align {
    text-align: right;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="image"],
input[type="color"] {
    display: block;
    padding: 0.5em;
    margin: 0 0 0.625em;
    vertical-align: middle;
    border: 1px solid #fff;
    background-color: #efefef;
    outline: none;
    font-family: inherit;
    font-size: 1em;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
}

.page-content {
    overflow: hidden;
    height: 100%;
}

.page-content img {
    max-width: 100%;
    height: auto;
}

.page-content .secondary-content {
    background-color: #efefef;
    position: relative;
    right: 0;
    height: 100%;
    padding: 1em;
}

.page-content .secondary-content::before {
    content: '';
    display: block;
    background: #efefef;
    width: 100%;
    height: 1000%;
    top: 100%;
    left: 0;
    position: absolute;
}

.page-content .secondary-content::after {
    content: '';
    position: absolute;
    width: 1000%;
    height: 1000%;
    background-color: #efefef;
    top: 0;
    left: 100%;
    z-index: 0;
}

.page-content .primary-content {
    padding-top: 1em;
    padding-bottom: 1em;
}

.page-content .primary-content .title {
    margin-bottom: 0;
}

.page-content .primary-content .date {
    text-transform: uppercase;
    color: #001826;
    font-size: .9em;
    font-weight: 300;
    margin-bottom: 3px;
}

.page-content .primary-content .author {
    text-transform: capitalize;
    font-weight: 700;
    margin-top: 0;
    font-size: .9em;
}

aside.recent-news a {
    font-weight: bold;
}

aside.recent-news ul {
    margin: 1em 0;
    padding: 0;
}

aside.recent-news ul li {
    list-style: none;
    margin-bottom: 10px;
    padding-top: 15px;
    border-top: 1px solid #efefef;
}

aside.recent-news ul li:first-child {
    border-top: none;
}

aside.recent-news .excerpt {
    font-size: 1em;
}

aside.recent-news .date {
    font-size: .9em;
    font-weight: 300;
    margin-top: -10px;
    color: #164194;
}

footer.footer p,
footer.footer a {
    color: #ffffff;
}

footer.footer p {
    font-size: .9em;
    font-weight: 500;
}

footer.footer a {
    font-weight: 600;
}

ul.menu-secondary {
    padding: 0;
}

ul.menu-secondary li {
    display: block;
    position: relative;
    margin: 0;
    padding-left: 15px;
}

ul.menu-secondary li a {
    padding: 8px 0;
    font-weight: 400;
    display: block;
}

ul.menu-secondary li a:hover {
    text-decoration: underline;
}

ul.menu-secondary li:hover > a,
ul.menu-secondary li a:hover,
ul.menu-secondary li a.selected,
ul.menu-secondary li.selected a {
    background: transparent;
}

ul.menu-secondary li:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid rgba(255, 255, 255, 0.5);
    float: left;
    position: absolute;
    top: 50%;
    margin-top: -4px;
    left: 0;
}

@media (max-width: 47.9375em) {
    body {
        font-size: 15px;
    }

    /* Add some padding to the content */
    .page-content .primary-content {
        padding: 10px;
    }
}