body {
    color: #001826;
    font-family: 'Aktiv Grotesk', sans-serif;
    font-size: 15px;
    line-height: 140%;
}

a:hover {
    text-decoration: underline;
}

a {
    color: #001826;
    text-decoration: none;
}